<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/image0(2).png" height="60" title="stars" alt=""></td>
        <td><a href="{{site.baseurl}}/frontend/overview">Overview</a></td>
        <td><a href="{{site.baseurl}}/frontend/table">table</a></td>
        <td><a href="{{site.baseurl}}/frontend/Grades">Grades</a></td>
        <td><a href="{{site.baseurl}}/frontend/To Do">To Do</a></td>
        <td><a href="{{site.baseurl}}/frontend/Goals">Goals</a></td>
        <td><a href="{{site.baseurl}}/frontend/General to do">General to do</a></td>
        <td><a href="{{site.baseurl}}/frontend/Yearbook">Yearbook</a></td>
        <td><a href="{{site.baseurl}}/frontend/TBR">TBR</a></td>
    </tr>
</table>